body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#sequencer {
  display: inline-block;
  margin-top: 20px;
}

.row {
  display: flex;
  align-items: center;
  font-size: 0;
}

.sound-button {
  height: 30px;
  width: 60px;
  margin-right: 10px;
}

.steps {
  display: inline-block;
}

.step {
  width: 30px;
  height: 30px;
  border: 1.24px solid;
  cursor: pointer;
  background: linear-gradient(137.71deg, #e2e1dd 4.64%, #d8d4d3 95.71%);
}

.step.active {
  background: linear-gradient(136.73deg, rgba(255, 255, 255, 0.87) 3.9%, rgba(234, 231, 231, 0.9) 102.39%);
  border-color: #222;
  color: white;
}

.step.current {
  background: radial-gradient(58.04% 62.13% at 50% 50%, rgba(247, 162, 235, 0.8) 0%, rgba(240, 6, 211, 0.8) 100%);
}

#controls {
  margin-top: 20px;
}

#tempo-slider {
  margin: 10px;
}

#start-button {
  padding: 10px 20px;
}
